[submodule "themes/Niello"]
	path = themes/Niello
	url = https://github.com/guangmean/Niello.git
[submodule "themes/holy"]
	path = themes/holy
	url = https://github.com/serkodev/holy.git
[submodule "themes/hacker"]
	path = themes/hacker
	url = https://github.com/guneysus/gohugo-hacker
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
